html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
.wrap{
	width: 100%;
  height:700px;
	background-image:url(img/bg.png);
	background-repeat: repeat;
}
.logo{
  padding-top: 12%;
	width: 100%;
	height: 15%;
	background-image:url(img/bigtitle_word.png); 
  background-size:100% 100%;
	background-repeat: no-repeat;
  background-position:center;
}
.search{
	width: 90%;
	height: 15%;
	margin: 0px auto;
	margin-top:5%;
}
.search h1{
	font-size: 200%;
	text-align: center;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	color:#642100;
}
.search form{
	padding-top: 5%;
	text-align: center;
}
.search form .putin{
	width: 70%;
	height: 4%;
	border: 0.4rem solid #642100;
	background: #D2B48C;
	color: #8B4513;
	font-weight: bold;
	float:left;
}
.search form .submit{
	width: 25%;
	height: 4%;
	border-top: 1rem solid #642100;
	border-bottom: 1rem solid #642100;
	border-right: 1rem solid #642100;
	border-left: 0.1rem solid #642100;
	cursor: pointer;
	background:#642100;
	font-size: 150%;
	font-family: Arial;
	font-weight: bold;
  text-align: center;
	float:left;
	color:#D2B48C;
}
.choose{
	width: 90%;
	height: 31%;
	margin: 0px auto;
}
.choose h1{
  padding-top: 5%;
  margin-top:30px;
	font-size: 200%;
	text-align: center;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	color:#642100;
}
.choose select{
	border: 0.4rem solid #642100;
	width: 73%;
	font-size: 245%;
	color:#8B4726;
	font-weight: bold;
	margin-top: 2%;
	font-family: Microsoft JhengHei;
  float:left;
}
.choose form .button{
	width: 25%;
	height: 4%;
	border-top: 1rem solid #642100;
	border-bottom: 1.3rem solid #642100;
	border-right: 0.5rem solid #642100;
	border-left: 0.1rem solid #642100;
	cursor: pointer;
	background:#642100;
	font-size: 150%;
	font-family: Arial;
	font-weight: bold;
  text-align: center;
  margin-top: 2%;
	float:left;
	color:#D2B48C;
}
.banner{
	height: 80px;
	width: 100%;
	background-color: #FFEC8B;
  float: left;
}
.back{
	height: 12%;
	width: 30%;
	display: block;
  float: left;
}
.back img{
    width: 65px;
  	height: 65px;
  	padding: 3%;
  	float: left;
}
.home{
	height: 12%;
	width: 30%;
	display: block;
  	float: right;
}
.home img{
  	width: 65px;
  	height: 65px;
  	padding: 3%;
  	float: right;
}
.shopname{
	margin: 0px auto;
	width: 100%;
	height: 40px;
	text-align: center;
	padding-top: 2.8%;
	background: #642100;
  float: left;
}
.shopname h1{
	font-size: 150%;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	color:white;
}
.mappic{
	width: 90%;
	height: 30%;
	background: #642100;
	margin: 0px auto;
	margin-top: 3%;
  margin-left:5%;
  float: left;
}
.mappic img{
	width: 100%;
	height: 30%;
	margin-left:2%;
	margin-top: 2.1%;
  margin-left: 5px;
  margin-right: 5px;
}
.route{
	width: 100%;
	margin: 0px auto;
	margin-top: 3%;
  float: left;
}
.route h4{
  width:90%;
	font-size: 100%;
	font-family: Microsoft JhengHei;
	line-height: 110%;
	word-break: break-all;
  text-align:center;
  float: left;
  margin-left:5%;
}
.clear{
	clear:both;
}